[
    {
        "question": "[Раздается пиктографический рисунок - небольшой домик.]\n   На ваших столах вы видите указывающий туристический знак, означающий\nприют. Через минуту вы нарисуете другой туристический знак, означающий\nзимний приют.",
        "answer": "Добавить трубу с дымом"
    }
]